body{
    font-family: Arial, sans-serif;
    height: 100vh;
}

header, footer{
    background-color: grey;
    color: brown;
    text-align: center;    
 }

 nav a {
    color: white;
    text-decoration: underline;
    margin: 50px;
 }

 main {   
    text-align: center;
 }

 footer { 
   justify-content: last baseline;
 }
